PORT=3001
TCP_PORT=4003
HOST=localhost
PORT_DB=5433
USERNAME_DB=postgres
PASSWORD_DB=12345678
DATABASE=academy
AUTO_LOAD_ENTITIES=false
MICROSERVICE_PORT=3000
MICROSERVICE_HOST=localhost
DOCENTE_MICROSERVICE_HOST=localhost
DOCENTE_MICROSERVICE_PORT=3003